
body {
    font-family: 'Courier New', Courier, monospace;
    background: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Box {
    background: #fff;
    padding: 30px 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

select {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 50%;
    padding: 12px;
    background: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 12px;
    display: block;
}